
.Physio-Home-head {
    overflow: hidden; 
    height: 50vh;
    margin: 20px;
    position: relative; /* Add position relative for z-index to work */
}

.Physio-head-1_1 {
    background-color: rgb(0, 217, 255);
    height: 50vh;
    width: 40vw;
    z-index: 1; 
    position: absolute; 
    top: 0;
    left: 0;
}

.Physio-head-1_2 {
    background-color:white;
    overflow-x: hidden;
    border-radius: 50rem;
    height: 11rem;
    width: 55vw;
    z-index: 2; 
    position: absolute; 
    top: 10vh; 
    left: 15vw;
    border-style: solid;
    border-color: wheat;
    border-width: 2px; 
    margin: 5px;
}
/*Button area*/
.Physio-head-1_3{
    padding: 10px;
}

.Physio-head-button{
    padding: 8px;
    margin: 10px;
    font-family: Cormorant;
    border-radius: 10px;
    border-color: white;
    color: rgba(8, 8, 8, 0.993);
    background-color: rgb(0, 217, 255);
}

/* image header section*/
.Physio-Home-head-image{
    justify-content: center;
    border-radius: 200rem;
    margin: 1.0rem;
    height: 8.5rem;
    width: 10vw;
}

.Physio-Home-head-t{
    padding-top: 10px;
    font-size: 1.5rem;
    font-family: Caprasimo;
    font-weight: bold;
}
.Physio-Home-head-t_2{
    font-size: 1.2rem;
    font-family: abril;
    font-weight: bold;
}
.Physio-Home-head-para{
    font-size: 1.1rem;
    padding-top: 5px;
    padding-right: 5px;
    font-family: Cormorant;
}

.Physio-head-1_3 {
    background-color: whitesmoke;
    height: 50vh;
    width: 60vw;
    z-index: 1; 
    position: absolute; 
    top: 0;
    right: 0;
}


/* Physio mid details part */

.Physio-Home-head-details{
    background-color: white;
    padding: 5px;
}
.Physio-Home-head-details-head{
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
}
.Physio-Home-head-details-h1-txt{
    font-size: 2.2rem;
    font-family: Hammersmith;
    font-weight: bold;
    text-align: center;
}

.Physio-Home-head-details-main{
    padding: 5px;
    margin: 5px;
}
.Physio-Home-head-details-main-card{
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}
.Physio-Home-head-details-main-card-pic{
    margin: 5px;
    height: 10.1rem;
    width: 20.1rem;
    border-style: solid;
    border-width: 1px;
    border-color: wheat;
    /*overflow: hidden;*/

}
.Physio-main-card-pic{
    height: 10rem;
    width: 20rem;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 16% 100%);
    transition: all ease 1s;
}
.Physio-Home-head-details-main-card-pic:hover img{
    scale: 1.2;
}
.Physio-Home-head-details-main-card-h{
    font-size: .8rem;
    font-family: Cormorant;
    font-weight:800;
    padding-top: 15px;
}

/*Contact footer Part*/
.Physio-head-Contact{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
}

.Physio-head-Contact-details{
    background-color: rgb(0, 217, 255);
    height: 5rem;
}
.Physio-head-Contact-h{
    font-family: Cormorant;
    font-size: 2.2rem;
    color: white;
    padding-right: 10px;
}
.Physio-head-Contact-image{
    height: 2rem;
    width: 2rem;
    margin: 10px;
    padding-bottom: 8px;
}

@media (max-width: 600px)
{
    .Physio-Home-head {
        overflow: hidden; 
        height: 40vh;
        margin: 20px;
        position: relative; /* Add position relative for z-index to work */
    }
    .Physio-head-1_1 {
        background-color: rgb(0, 217, 255);
        height: 40vh;
        width: 30vw;
        z-index: 1; 
        position: absolute; 
        top: 0;
        left: 0;
    }
    .Physio-head-1_3 {
        background-color: whitesmoke;
        height: 40vh;
        width: 70vw;
        z-index: 1; 
        position: absolute; 
        top: 0;
        right: 0;
    }
    .Physio-head-1_2 {
        background-color:white;
        overflow-x: hidden;
        border-radius: 50px;
        height: 20vh;
        width: 80vw;
        z-index: 2; 
        position: absolute; 
        top: 5vh; 
        left: 5vw;
        border-style: solid;
        border-color: wheat;
        border-width: 2px; 
        margin: 5px;
    }
    .Physio-Home-head-image{
        justify-content: center;
        border-radius: 200rem;
        margin: 5px;
        padding: 5px;
        height: 18vh;
        width: 30vw;
    }

    .Physio-Home-head-details-main-card-pic{
        margin: 13.5px;
        height: 4.1rem;
        width: 4.1rem;
        border-style: solid;
        border-width: 1px;
        border-color: wheat;
        /*overflow: hidden;*/
    }
    .Physio-Home-head-t{
        padding-top: 10px;
        font-size: .8rem;
        font-family: Caprasimo;
        font-weight: bold;
    }
    .Physio-Home-head-details-h1-txt{
        font-size: 1.1rem;
        font-family: Hammersmith;
        font-weight: bold;
        text-align: center;
    }
    .Physio-Home-head-t_2{
        font-size: 0.8rem;
        font-family: Hammersmith;
        font-weight: bold;
    }
    .Physio-Home-head-para{
        font-size: .8rem;
        padding-top: 5px;
        padding-right: 5px;
        font-family: Cormorant;
    }

    .Physio-main-card-pic{
        height: 4rem;
        width: 4rem;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 16% 100%);
        transition: all ease 1s;
    }
    .Physio-Home-head-details-main-card-h{
        font-size: .4rem;
        font-family: Cormorant;
        font-weight:800;
        padding-top: 15px;
    }
  .Physio-head-Contact-h{
    font-family: Cormorant;
    font-size: 1.1rem;
    color: white;
    padding-right: 20px;
    padding-top: 10px;
}
.Physio-head-Contact-image{
    height: 1.5rem;
    width: 1.5rem;
    margin: 10px;
}
}
@media (max-width: 365px){
    .Physio-Home-head-details-main-card-pic{
        margin: .5rem;
        height: 4.1rem;
        width: 4.1rem;
        border-style: solid;
        border-width: 1px;
        border-color: wheat;
        /*overflow: hidden;*/
    }
    .Physio-head-button{
        padding: 8px;
        margin: 10px;
        font-family: Cormorant;
        font-size: .7rem;
        border-radius: 10px;
        border-color: white;
        color: rgba(8, 8, 8, 0.993);
        background-color: rgb(0, 217, 255);
    }
    .Physio-Home-head-t{
        padding-top: 10px;
        font-size: .7rem;
        font-family: Caprasimo;
        font-weight: bold;
    }
    .Physio-Home-head-details-h1-txt{
        font-size: 1.1rem;
        font-family: Hammersmith;
        font-weight: bold;
        text-align: center;
    }
    .Physio-Home-head-t_2{
        font-size: 0.8rem;
        font-family: Hammersmith;
        font-weight: bold;
    }
    .Physio-Home-head-para{
        font-size: .8rem;
        padding-top: 5px;
        padding-right: 5px;
        font-family: Cormorant;
    }
}
@media (min-width: 530px) and (max-width: 545px){
    .Physio-Home-head-details-main-card-pic{
        margin: 1rem;
        height: 4.1rem;
        width: 6.1rem;
        border-style: solid;
        border-width: 1px;
        border-color: wheat;
        /*overflow: hidden;*/
    }
    .Physio-main-card-pic{
        height: 4rem;
        width: 6rem;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 16% 100%);
        transition: all ease 1s;
    }
}
@media (max-width: 285px){
    .Physio-head-1_2 {
        background-color:white;
        overflow-x: hidden;
        border-radius: 40px;
        height: 20vh;
        width: 80vw;
        z-index: 2; 
        position: absolute; 
        top: 5vh; 
        left: 3vw;
        border-style: solid;
        border-color: wheat;
        border-width: 2px; 
        margin: 5px;
    }
    .Physio-Home-head-image{
        justify-content: center;
        border-radius: 200rem;
        margin: 5px;
        padding: 5px;
        height: 15vh;
        width: 22vw;
    }
    .Physio-Home-head-t{
        padding-top: 10px;
        font-size: .7rem;
        font-family: Caprasimo;
        font-weight: bold;
    }
    .Physio-Home-head-details-h1-txt{
        font-size: .5rem;
        font-family: Hammersmith;
        font-weight: bold;
        text-align: center;
    }
    .Physio-Home-head-t_2{
        font-size: .6rem;
        font-family: Hammersmith;
        font-weight: bold;
    }
    .Physio-Home-head-para{
        font-size: .6rem;
        padding-top: 5px;
        padding-right: 5px;
        font-family: Cormorant;
    }
    .Physio-Home-head-details-main-card-pic{
        margin: 1rem;
        height: 3.1rem;
        width: 3.1rem;
        border-style: solid;
        border-width: 1px;
        border-color: wheat;
        /*overflow: hidden;*/
    }
    .Physio-main-card-pic{
        height: 3rem;
        width: 3rem;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 16% 100%);
        transition: all ease 1s;
    }
    .Physio-head-button{
        padding: 8px;
        margin: 10px;
        font-family: Cormorant;
        font-size: .5rem;
        border-radius: 10px;
        border-color: white;
        color: rgba(8, 8, 8, 0.993);
        background-color: rgb(0, 217, 255);
    }
}
@media (min-width: 700px) and (max-width: 1000px){
    .Physio-head-1_2 {
        background-color:white;
        overflow-x: hidden;
        border-radius: 100px;
        height: 25vh;
        width: 80vw;
        z-index: 2; 
        position: absolute; 
        top: 5vh; 
        left: 3vw;
        border-style: solid;
        border-color: wheat;
        border-width: 2px; 
        margin: 5px;
    }
    .Physio-Home-head-image{
        justify-content: center;
        border-radius: 200rem;
        margin: 5px;
        padding: 5px;
        height: 24vh;
        width: 28vw;
    }
    .Physio-Home-head-t{
        padding-top: 10px;
        font-size: 1.6rem;
        font-family: Caprasimo;
        font-weight: bold;
    }
    .Physio-Home-head-details-h1-txt{
        font-size: 1.5rem;
        font-family: Hammersmith;
        font-weight: bold;
        text-align: center;
    }
    .Physio-Home-head-t_2{
        font-size: 1.5rem;
        font-family: Copperplate;
        font-weight: bold;
    }
    .Physio-Home-head-para{
        font-size: 1.5rem;
        padding-top: 5px;
        padding-right: 5px;
        font-family: Cormorant;
    }
    .Physio-Home-head-details-main-card-pic{
        margin: .9rem;
        height: 5.1rem;
        width: 10.1rem;
        border-style: solid;
        border-width: 1px;
        border-color: wheat;
        /*overflow: hidden;*/
    }
    .Physio-main-card-pic{
        height: 5rem;
        width: 10rem;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 16% 100%);
        transition: all ease 1s;
    }
}